/* About Section  */

.section-split {
  display: flex;
  justify-content: space-between;
  gap: 2rem 0rem;
}

.about-section-heading {
  max-width: 592px;
  padding-bottom: 6.2rem;
}

.section-content {
  max-width: 1000px;
  width: 100%;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: clamp(3rem, 4.5vw, 6.4rem);
}

@media (max-width: 1024px) {
  .about-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .about-section-heading {
    padding-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .section-split {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-section-heading {
    max-width: 400px;
  }
}

/* Image Gallery  */
.image-gallery {
  padding: 1.2rem 0;
}

.gallery-img {
  width: 100%;

  object-fit: cover;
  display: block;
  aspect-ratio: 35/20;
}

/* Inspiration Section  */

.inspiration-section {
  background: var(--color-black);
  color: var(--color-white);
}

.section-split-inspiration {
  display: grid;
  grid-template-columns: 66fr 78fr;
}

.project-card__image-wrapper {
  aspect-ratio: 78 / 40;
  width: 100%; /* Ensure the wrapper takes up the full width of the card */
  overflow: hidden; /* Move overflow here to clip the image (especially for rounded corners) */
  display: block; /* Removes any bottom whitespace gaps */
  margin-bottom: 2.4rem;
}

.project-card__image-wrapper img {
  width: 100%; /* Make image fill the wrapper width */
  height: 100%; /* Make image fill the wrapper height */
  object-fit: cover; /* Prevents stretching while maintaining aspect ratio */
  display: block; /* Ensures no inline-element spacing at the bottom */
}
.left-inspiration {
  margin-left: 2rem;
}
.inspiration-sidebar {
  max-width: 502px;
  margin: 4rem 4.6rem 4rem auto;
}
.inspiration-sidebar span {
  display: block;
  margin-bottom: 3.2rem;
}
.inspiration-sidebar h2 {
  max-width: 400px;
  margin-bottom: 9.2rem;
}
.project-list {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.project-card__meta {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #dfd8cf;
  margin-bottom: 1.6rem;
}

.project-card__title {
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.project-card__title span {
  display: inline-block;
}

.project-card__title i {
  display: inline-block;
  rotate: -45deg;
  height: 1.4rem;
  width: 1.4rem;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .section-split-inspiration {
    grid-template-columns: 1fr;
  }
  .inspiration-sidebar {
    max-width: 100%;
    margin: 0 0 4rem;
  }
  .project-card {
    margin: 0 2rem;
  }
  .inspiration-sidebar h2 {
    margin-bottom: 2rem;
  }
  .project-list {
    gap: 3rem;
  }
}

/* PRODUCTS SECTION  */

.products-section-heading {
  max-width: 700px;
  margin-right: auto;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 9.6rem;
  gap: 2.3rem;
}

.product-item {
  position: relative;
  aspect-ratio: 39/53;
  overflow: hidden;
}

.product-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* The Overlay (Just a container to position the content) */
.product-item__overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align box to bottom */
}

/* THE BLURRED BOX - Only behind the text */
.product-item__content {
  background: #00000033;

  backdrop-filter: blur(20px);

  -webkit-backdrop-filter: blur(20px); /* Safari */
  padding: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Soft border for glass look */
  transition: all 0.4s ease-in-out;
}

.product-item__title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--color-white);
  display: flex;
  text-align: center;
  gap: 1.4rem;
}

/* Description Hidden state */
.product-item__description {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0%;
  color: var(--color-white);

  /* Hidden state */
  margin-top: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

/* Hover effect */
.product-item:hover .product-item__description {
  margin-top: 1.2rem;
  opacity: 1;
  max-height: 150px; /* Adjust to fit your text */
}

@media (max-width: 1024px) {
  .product-grid {
    margin-top: 6rem;
  }
}
@media (max-width: 768px) {
  .product-grid {
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .product-grid {
    margin-top: 3rem;
    grid-template-columns: 1fr;
  }
  .product-item {
    aspect-ratio: 53/39;
  }
}

/* Testimonials  */
.testimonials {
  background-color: var(--color-black);
  text-align: center;
}

.testimonial-slider {
  max-width: 1056px;
  margin: 2.4rem auto;
  padding-bottom: 40px;
}

.testimonial-slider__stars {
  color: #fdb022; /* Gold color */
  margin-bottom: 4.8rem;
  font-size: 2rem;
  opacity: 1;
}
.testimonial-slider__stars i + i {
  padding-left: 4px;
}

.testimonial-slider__quote {
  padding: 0 1.6rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0;
  text-align: center;
  color: var(--color-white);
}

.testimonial-slider__footer {
  margin: 3.2rem 0;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0;
  text-align: center;
  color: var(--color-white);
}

.testimonial-slider__author {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: var(--color-white);
  margin-bottom: 4.8rem;
}

/* --- STYLING THE SPLIDE DOTS --- */
.splide__pagination {
  bottom: 0; /* Position at the bottom */
}

.splide__pagination__page {
  background: #dfd8cf; /* Inactive dot color */
  border: none;
  height: 1rem;
  width: 1rem;
  margin: 0 6px;
  border-radius: 50%;
  transition: all 0.3s ease;
  opacity: 1;
}

.splide__pagination__page.is-active {
  background: #ffffff; /* Your "dot active" color */
  transform: scale(1);
}

.splide__arrow {
  background: transparent; /* No background */
  border: none;
  transition: all 0.3s ease;
  width: 16px;
  height: 16px;
  opacity: 1;
}
.splide__arrow--prev {
  left: 0;
}
.splide__arrow--next {
  right: 0;
}
.splide__arrow i {
  font-size: 1.6rem; /* Size of the arrow */
  color: #ffffff;
}
.faqs-section-heading {
  max-width: 365px;
  padding-bottom: 3.2rem;
  margin-right: auto;
}

.tab-system {
  max-width: 784px;
  margin: 0 auto;
}

.tab-system__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  margin-bottom: 2rem;
}

.tab-btn {
  padding: 1.2rem;
  border: 1px solid #4d4d4d;
  background: transparent;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0%;
  color: var(--color-black);
}

.btn-active,
.tab-btn:hover {
  background: var(--color-dark-gray);
  color: var(--color-white);
}
.accordion__item {
  padding: 2.4rem 2.4rem 1.4rem 2.4rem;
  border-bottom: 1px solid #4d4d4d;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0%;
  margin-bottom: 1.6rem;
}
.accordion__header i {
  font-size: 1.5rem;
}

.faq-content h4 {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 1.6rem;
}
.faq-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 1.6rem;
  color: #4d4d4d;
  display: flex;
}
.faq-bold {
  font-weight: 500;
}
.faq-content p i {
  font-size: 6px;
  display: block;

  padding: 9px;
}

/* About Page  */
.about-main-image-wrapper {
  aspect-ratio: 2/1;
  overflow: hidden;
}

.about-main-image-wrapper img {
  display: block;
  /* 1. Force the image to fill the container's dimensions */
  width: 100%;
  height: 100%;

  /* 2. Tell the image how to behave within those dimensions */
  object-fit: cover;

  /* 3. Center the image */
  object-position: center;
}
.width-120 {
  display: inline-block;
  max-width: 119px;
}
.cs-badge {
  display: inline-block;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid #d0d5dd;
  padding: 2px 8px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  border-radius: 5px;
}

.product-detail-para p + p {
  margin-top: 2rem;
}

.section-split + .section-split {
  padding-top: var(--section-split);
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem 2.4rem;
}

.product-card p {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: 0%;
  vertical-align: middle;
  gap: 1.4rem;
}

.product-card i {
  display: inline-block;
  rotate: -45deg;
  font-size: 1.4rem;
}

.image-container {
  overflow: hidden; /* This clips the image when it scales */
  width: 100%;
  aspect-ratio: 1/1;
}

.image-container img {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
  height: auto;
  transition: transform 0.5s ease; /* Smooth transition for the zoom */
}

/* Scale the image to 1.2 when the card is hovered */
.product-card:hover .image-container img {
  transform: scale(1.1);
}

.section-collection {
  max-width: 216px;
  width: 100%;
}
.underline {
  display: block;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 2px;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  margin-bottom: 2.4rem;
}
.product-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.about-section + .about-section {
  border-top: 1px solid var(--color-black);
}
@media (max-width: 1024px) {
  .products-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
/* FAQ Section  */
.faq-section-heading {
  text-align: center;
  margin-bottom: 3.2rem;
}
.faq-section-heading .section-label {
  display: inline-block;
  margin: 0 auto 2rem;
}

/* Contact Section  */
/* Ensure the grid splits 50/50 */

.contact-page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* This creates two exact halves */
}

/* Make the image container fill the entire left half */
.contact-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contact-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image fills the space without stretching */
  display: block;
}

/* Center the form within the right half */
.form-container {
  display: flex;
  justify-content: center; /* Horizontally centers the form */
  align-items: center; /* Vertically centers the form */
}

/* Your existing form width control */
.contact-page__form {
  width: 100%;
  max-width: 548px;
  margin-right: auto;
  padding: 6rem 0 6rem 6rem;
}
.contact-page__form form {
  padding: 0;
  margin: 0;
}
